@mixin flex($direction, $wrap, $justify, $align)
{
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
//@include flex(row, wrap, center, stretch)
@mixin fullWidthHeight()
{
    height: 100%;
    width: 100%;
}