//vars
//fuentes
$mainFont: 'Mukta', sans-serif;
$textLight: 200;
$textNormal: 400;
$textBold: 700;
//maps
$colors: (
    uno: rgb(62, 64, 149),
    dos: rgb(255, 242, 18),
    tres: rgb(255, 255, 245),
    cuatro: rgb(12, 14, 110),
    cinco: rgb(245, 245, 255),
    seis: crimson,
    siete: rgb(247, 247, 247),
    ocho: white,
    );
$fontSize: (
        uno: 0.8em,
        dos: 1em,
        tres: 1.1em,
        cuatro: 1.3em,
        cinco: 1.4em,
        seis: 1.5em,
        siete: 1.85em,
        ocho: 2em,
    );
