//colores
$mainColor: rgb(62, 64, 149);
$secundaryColor: rgb(255, 242, 18);
$backColor: rgb(255, 255, 245);
$darkblueColor: rgb(12, 14, 110);
$remarkColor: rgb(245, 245, 255);
$auxColor: crimson;
$specialfontColor: rgb(247, 247, 247);
$backgroundColor: white;

//fuentes
$mainFont: 'Mukta', sans-serif;
$textLight: 200;
$textNormal: 400;
$textBold: 700;

