.button_delete {
    width: 1.2rem;
    height: 1.4rem;
    border-style: none;
    background-image: url(../../../public/delete.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
  }