.contacto__form {
    width: 60%;
    color: rgb(62, 64, 149);
    margin-bottom: 15px;
  }
  .input--format {
    border: 1.5px solid rgb(62, 64, 149);
    padding: 0 3px;
  }
  .input--format:focus {
    border-color: rgb(12, 14, 110);
  }
  .contacto__input-margin {
    margin-left: 10px;
  }
  .contacto__mensaje {
    display: flex;
    flex-direction: column;
  }
  .contacto__inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: normal;
    margin-top: 5px;
  }
  .button--format {
    width: auto;
    border: 0;
    padding: 1px 5px;
    background-color: rgb(62, 64, 149);
    color: rgb(247, 247, 247);
    margin-left: 10px;
  }
  .button--format:hover {
    color: rgb(255, 242, 18);
  }
  .button--format:active {
    animation-name: achicar;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
  @keyframes achicar {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(0.9);
    }
    75% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(0.8);
    }
  }  
  form ul li {
    line-height: 2em;
  }
  fieldset {
    width: auto;
    border: 2px;
    border-style: solid;
    border-color: rgb(62, 64, 149);
    padding: 10px;
    background-color: rgb(255, 255, 245);
  }
  fieldset ul li {
    padding: 5px;
  }  
  textarea {
    width: 70%;
    height: 30%;
  }
  label {
    display: inline-block;
  } 
  li input {
    margin-left: 5px;
  }
  .displayHide {
    display: none;
  }
  .none__border {
    border-collapse: collapse;
  border-spacing: 0;
  border: none;
  }
  .bold {
    font-weight: bold;
  }
  .light {
    font-weight: lighter;
  }