.pages__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10rem auto auto 15rem;
  grid-template-areas: "nav" "head" "main" "footer";
}
body {
  font-family: "Mukta", sans-serif;
}